@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.025em;
}

.filter_brightness {
  filter: brightness(50%);
}

.heroContent {
  line-height: 48px;
}

.specification-slider .slick-slide .imageWrapper {
  height: 300px;
}

.specification-slider .slick-slide.slick-current {
  width: 600px;
}

.specification-slider .slick-slide:not(.slick-current) .imageWrapper {
  margin-top: 60px;
  height: 240px;
}

.specification-slider .slick-slide.slick-current div {
  display: block;
}
